<div class="section center">
  <div class="">
    <h2 class="grow">
      Transactions for user „{{(userStore.store$ | async )?.selectedUser?.name}}” -
      Page {{transactionState.page}}/ {{transactionState.maxPage}}
    </h2>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>create date</th>
      <th>value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of transactionState.entries; trackBy: entry?.id">
      <td>
        {{entry.createDate}}
      </td>
      <td [ngClass]="{'negative': entry.value < 0}">
        {{entry.value | currency: 'USD':true}}
      </td>
    </tr>
    </tbody>
  </table>
  <form class="flex">
    <a [disabled]="transactionState.page == 1" (click)="pagePrev()" md-raised-button=""> < </a>
    <span class="grow"></span>
    <span class="grow"></span>
    <a [disabled]="transactionState.page == transactionState.maxPage" (click)="pageNext()" md-raised-button=""> > </a>
  </form>

</div>


<div class="m-1">
  <a [routerLink]="['/user', userId]"  class="w100" md-raised-button="">back</a>
</div>
