.userDetailsGrid {
  margin: 1rem;
}

.transactions {
  flex-grow: 1;
  overflow: hidden;
}

@media only screen and (min-width: 48em) {
  .payment {
    min-width: 24rem;
    margin-right: 3rem;
  }

  .userDetailsGrid {
    display: flex;
    justify-content: center;
  }

  .bothEnabled {
    grid-template-columns: 24rem 1fr;
    gap: 3rem;
    grid-template-rows: auto;
  }
}

.grid {
  display: grid;
  padding: 1rem;
}

.paymentGrid > * {
  margin-bottom: 4rem;
}
