:root {
  --laptop: 75em;
  --mobile: 30em;
  --tablet: 48em;
}

html {
  --base: 16px;
  --borderRadius: 4px;
  --buttonDisabled: #bababa;
  --border: #e5e6e5;
  --componentBackgroundDark: #fff;
  --componentBackgroundLight: #fff;
  --green: #63c658;
  --greenHover: #b3e5bb;
  --greenLight: #cfe9d1;
  --greenText: #63c658;
  --mainBackground: #f2f3f2;
  --primary: #28333d;
  --red: #d16069;
  --redHover: #f3b4bb;
  --redLight: #ffdce0;
  --redText: #d16069;
  --text: #343434;
  --textSubtile: #bababa;
  --headerBackground: #fff;
  --buttonCancelFont: #ffedf0;
  --buttonCancelBackground: #e86c76;
  --buttonHighlightFont: #e8eaeb;
  --buttonHighlightBackground: #213440;
  --buttonGreenBackground: #cbf5d7;
  --buttonGreenFont: #00cc1d;
  --buttonRedBackground: #ffdce0;
  --buttonRedFont: #f54963;
  --buttonDefaultBackground: #fff;
  --buttonDefaultFont: #58697d;
  --inset: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  --level1: 0 0 1px rgba(0, 0, 0, 0);
  --level2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --level3: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --level4: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --level5: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --level6: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] {
  --border: #59687c;
  --componentBackgroundDark: #1d2832;
  --componentBackgroundLight: #2e3d4d;
  --green: #c2ffcd;
  --greenHover: #1e4b3d;
  --greenLight: #2b584a;
  --greenText: #c2ffcd;
  --hover: #47525a;
  --mainBackground: #25333f;
  --primary: #fff;
  --red: #ffbac2;
  --redHover: #443444;
  --redLight: #514151;
  --redText: #ffbac2;
  --text: #fdfdfd;
  --textSubtile: #59687c;
  --headerBackground: #1d2832;
  --buttonCancelFont: #ffedf0;
  --buttonCancelBackground: #f54963;
  --buttonHighlightFont: #353535;
  --buttonHighlightBackground: #f2f3f2;
  --buttonGreenBackground: #155949;
  --buttonGreenFont: #00cc1d;
  --buttonRedBackground: #544052;
  --buttonRedFont: #f54963;
  --buttonDefaultBackground: #2a3e4f;
  --buttonDefaultFont: #eaebed;
  --defaultFillColor: #e9ebec;
}

/* @media (prefers-color-scheme: dark) {
  html {
  }
} */

/* reset */
* {
  outline-color: var(--primary);
}

html {
  background: var(--mainBackground);
  color: var(--text);
  font-size: 18px;
  min-height: 100vh;
}

label {
  display: block;
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 24px;
  }
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  overflow: visible;
  width: auto;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
audio,
embed,
iframe,
img,
object,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
select[multiple] {
  vertical-align: top;
}
* {
  box-sizing: border-box;
}
button,
input,
label,
select,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: 0 0;
  line-height: 1;
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
}
select[multiple],
textarea {
  vertical-align: top;
}
button,
input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='reset'],
input[type='submit'],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type='checkbox'],
input[type='radio'] {
  width: 1rem;
  height: 1rem;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: 0 0;
}
textarea {
  overflow: auto;
}
html,
body,
#root {
  height: 100vh;
}

:root {
  font-size: 16px;
}
label {
  display: block;
}
@media only screen and (min-width: 40em) {
  :root {
    font-size: 18px;
  }
}
@media only screen and (min-width: 100em) {
  :root {
    font-size: 22px;
  }
}
body {
  font-family: 'Inter';
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: lighter;
}
input {
  padding: 0.5rem;
  font-family: 'Inter';
  width: 100%;
  border-radius: 2px;
}
input,
button {
  align-items: center;
  align-content: center;
}

a:visited,
a:hover,
a {
  text-decoration: none;
  color: var(--primary);
}

@media (hover: none) and (pointer: coarse) {
  body {
    user-select: none;
  }
}
