<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item disabled>
    <md-icon>sort</md-icon>
    <span>Sort by</span>
  </button>
  <button (click)="triggerSort('name')" md-menu-item>
    <md-icon *ngIf="sortBy == 'name'">check</md-icon>
    <span>name</span>
  </button>
  <button (click)="triggerSort('balance')" md-menu-item>
    <md-icon *ngIf="sortBy == 'balance'">check</md-icon>
    <span>balance</span>
  </button>
  <button (click)="triggerSort('lastTransaction')" md-menu-item>
    <md-icon *ngIf="sortBy == 'lastTransaction'">check</md-icon>
    <span>lastTransaction</span>
  </button>
</md-menu>
