.input {
  background: var(--componentBackgroundDark);
  border: solid 1px transparent;
  border-radius: 4px;
  color: var(--primary);
  padding: 0.5rem;
  width: 100%;
}

.input::placeholder {
  color: var(--textSubtile);
}

.formField {
  margin-bottom: 1rem;
}

.formField > label {
  margin-bottom: 0.5rem;
}

.inline {
  display: flex;
  align-items: center;
  align-items: center;
}

.inline > label {
  margin-right: 0.5rem;
  margin-bottom: 0;
}
