<form class="section center"
  [formGroup]="createUserFormGroup"
  (ngSubmit)="createUser(createUserFormGroup.controls['name'].value)">

  <md-input-container class="w100">
    <input md-input class="form-control"
           [formControl]="createUserFormGroup.controls['name']"
           placeholder="Username"
           [required]="true"
           type="text">
  </md-input-container>
  <button md-raised-button="" class="w100" type="submit">Create user</button>
</form>
<div class="m-1">
  <a [routerLink]="['']"  class="w100" md-raised-button="">back</a>
</div>
