.bar {
  height: 4rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  position: fixed;
  height: inherit;
  width: 100%;
  z-index: 200;
  background: var(--headerBackground);
}

.nav a {
  color: var(--textSubtile) !important;
}
.nav a:hover,
.nav a[class^='active'] {
  color: var(--primary) !important;
}

.nav a svg {
  fill: var(--textSubtile) !important;
}
.nav a:hover svg,
.nav a[class^='active'] svg {
  fill: var(--primary) !important;
}
