.backdrop {
  cursor: pointer;
  content: '';
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(29, 33, 36, 0.3);
  z-index: 499;
  top: 0;
  left: 0;
}

.modal {
  z-index: 500;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
