.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 30em;
  margin: 2rem auto;
  padding: 0px 1rem;
}

.wrapper > h1 {
  text-align: center;
}
