<h4 class="grow ">Custom transaction</h4>
<form [formGroup]="addTransactionForm"
      (submit)="addTransaction(addTransactionForm.controls['value'].value);transactionModal.hide()">

  <p>Enter your custom transaction value here:</p>
  <md-input-container class="w100">
    <input md-input [required]="true" min="0" type="number" lang="nl" [formControl]="addTransactionForm.controls['value']">
    <md-hint>{{addTransactionForm.controls['value'].validationMessage}}</md-hint>
  </md-input-container>

  <button [color]="color"
          md-raised-button=""
          [disabled]="addTransactionForm.invalid || isInvalid(addTransactionForm.controls['value'].value)">
    <span *ngIf="positive">Charge wallet</span>
    <span *ngIf="!positive">Pay purchase</span>
  </button>
  <button type="button" md-raised-button="" (click)="sidenav.toggle()">Cancel</button>
</form>
