.ellipsis {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.lineThrough {
  text-decoration: line-through;
}

.redText {
  color: var(--redText);
}

.greenText {
  color: var(--greenText);
}
