/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.m-a-1 {
  margin: 10px!important;
}
